<template>
  <div class="home">
      <h1>Home</h1>
      <p v-if="error">{{ error }}</p>
      <p v-if="posts.length">
          <PostList :posts="posts" />
      </p>
      <p v-else>Loading...</p>
  </div>
</template>

<script>
import PostList from '../components/PostsList.vue'
import { ref } from 'vue'
import getPosts from '../composables/getPosts'
// @ is an alias to /src

export default {
  name: 'Home',
  components: { PostList },
  setup() {
      const {posts, error, load} = getPosts()

      load()

      return { posts, error }
  }
}
</script>
